<div class="container">
  <h2>Acme Incorporated Forklift Manager - Days since last accident: {{daysSinceAccident}}</h2>

  <div class="top-layout">
    <div class="movement-results">
      <h3>Movement Result</h3>
      <ul *ngIf="movementResults.length">
        <li *ngFor="let result of movementResults">{{ result }}</li>
      </ul>
    </div>

    <div class="obstacle-section">
      <h3>Obstacles</h3><h3> - Can be changed by Swagger API or in the obstacle in-memory repository</h3>
      <ul *ngIf="obstacles && obstacles.length > 0" class="obstacle-list">
        <li *ngFor="let obstacle of obstacles">
          ({{ obstacle.x }}, {{ obstacle.y }})
        </li>
      </ul>
    </div>
  </div>

  <div class="file-upload">
    <label for="fileInput">Upload Forklift File (CSV/JSON):</label>
    <input type="file" id="fileInput" (change)="onFileChange($event)" accept=".csv, .json" />
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  </div>

  <div>
    <button class="reset-button" (click)="deleteForklifts()">Reset Forklift List</button>
  </div>

  <div class="content-layout">
    <table *ngIf="forklifts.length" class="forklift-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Model Number</th>
          <th>Manufacturing Date</th>
          <th>Age</th>
          <th>Movement Command</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let forklift of forklifts">
          <td>{{ forklift.name }}</td>
          <td>{{ forklift.modelNumber }}</td>
          <td>{{ forklift.manufacturingDate | date }}</td>
          <td>{{ forklift.age }}</td>
          <td>
            <input type="text" [(ngModel)]="movementCommands[forklift.name]" placeholder="Enter commands" />
            <button (click)="submitMoveCommand(forklift.name, movementCommands[forklift.name])">Move</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
